@charset "utf-8";

/* body */
.container {
  background-color: white;
  padding: 50px 80px;
}

.login_headline {
  text-align: center;
}

.trigger_login,
.trigger_register {
  line-height: 32px;
  width: 50%;
  display: inline-block;
}

.trigger {
  margin-top: 16px;
}

.login_form_hide {
  display: none;
}

.trigger_login:hover,
.trigger_register:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.trigger_login {
  border-radius: 6px 0 0 6px;
  text-align: center;
  float: left;
  cursor: pointer;
}

.trigger_register {
  border-radius: 0 6px 6px 0;
  text-align: center;
  cursor: pointer;
}

.selected {
  background: #333;
  color: #fff;
}

.unselected {
  background: #f8f8f8;
  color: #9d9e9d;
}

.login_form {
  margin-top: 32px;
}

.login_form_key {
  font-size: 8px;
  margin: 16px 0 0;
}


.login_form_area input {
  display: block;
  margin: 3px auto 0;
  padding: 14px;
  height: 44px;
  line-height: 23px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #eee;
  box-sizing: border-box;
}

.login_button button {
  font-weight: bold;
  color: #fcfcfe;
  display: block;
  margin: 32px auto 0;
  padding: 14px;
  width: 100%;
  border-radius: 10px;
  border: 0px;
  background: #f8d908;
  box-sizing: border-box;
}

.login_button button:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

#open, #close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}

#modal > p {
  margin: 0 0 20px;
  text-align: center;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}