@charset "utf-8";

table {
  border-collapse: collapse;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

.date_score {
  margin:10px auto;
  width:50%;
  max-width:600px;
}

.chart {
  display: flex;
  width: calc(100% -32px);
}